{{ define "todo/create.tmpl" }}
<html>
<head>
  <title>add todo</title>
</head>
<body>
  <h1>add todo</h1>
  <form action="/todos" method="POST">
    <input type="text" name="title" required>
    <button type="submit">add</button>
  </form>
</body>
</html>
{{ end }}